.cards {
  border: 5px solid pink;
  background-color: aquamarine;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}
.name {
  margin: 20px;
}
.email {
  margin: 20px;
  font-style: italic;
}
.title {
  margin: 20px;
  text-transform: uppercase;
  color: blue;
}
.content {
  margin: 20px;
}
.btn-delete {
  margin: 20px;
}
